@media screen and (max-width:1150px){
  .service-left img{
    width:450px;
  }
}

@media screen and (max-width:1024px){
  h2{
    font-size:32px;
  }

  header{
    height:45px;
  }

  header a{
    font-size:14px;
    height:45px;
    line-height:45px;
  }

  .main-img h1{
    font-size:64px;
  }

  .main-img p{
    font-size:22px;
  }

  .skill-wrapper h2{
    padding-top:100px;
  }

  .about-wrapper img{
    width:300px;
    height:300px;
  }

  .about-right p{
    font-size:15px;
  }


  .icon p{
    font-size:22px;
  }

  .text-contents{
    font-size:16px;
  }

  .service-wrapper h2{
    padding-top:100px;
  }

  .service-contents h3{
    font-size:22px;
  }

  .service-contents p{
    font-size:16px;
  }

  .service-left img{
    width:100%;
  }

  .works-wrapper h2{
    padding-top:100px;
  }

  .works-wrapper p{
    font-size:16px;
  }

  .form-wrapper h2{
    padding-top:100px;
  }

  .form input,textarea{
    font-size:16px;
  }
  .form button{
    font-size:14px;
  }
}

@media screen and (max-width:896px){
  .introduction{
    flex-direction: column;
  }

  h2{
    font-size:40px;
  }

  .about-left{
    width:50%;
    margin:0 auto;
  }

  .about-right{
    width:50%;
    margin:0 auto;
  }

  .about-wrapper{
    padding:50px 0 0px 0;
    margin:0;
  }
  
  .skill-wrapper{
    padding-left:0;
    padding-right:0;
  }

  .skill-wrapper h2{
    padding-left:0;
    padding-right:0;
  }

  .works-wrapper{
    margin:0;
    padding:0;
  }

  .works-wrapper h2{
    margin-left:0;
    margin-right:0;
  }

  .service-wrapper{
    margin:0;
    padding:0;
  }


  .skills{
    flex-direction:column;
    margin:0 auto;
  }

  .skill{
    margin:0 auto;
    width:300px;
  }

  .icon p{
    font-size:26px;
  }

  .text-contents{
    font-size:20px;
  }

  .service-wrapper{
    width:100%;
    margin:0 auto;
  }

  .service{
    margin:100px auto;
    padding:0;
  }

  .normal_line{
    flex-direction: column;
  }

  .reverse_line{
    flex-direction: column-reverse;
  }

  .service-left{
    margin:0 auto;
    width:80%;
  }

  .service-left img{
    width:100%;
  }

  .service-contents{
    width:100%;
    margin:50px auto 0 auto;
  }

  .service-heading{
    margin:0 auto;
    width:50%;
    padding-left:0;
  }

  .service-list{
    margin:0 auto;
    width:50%;
    padding-left:0;
  }

  .service-contents h3{
    font-size:24px;
  }

  .service-contents p{
    font-size:16px;
  }


  .works{
    flex-direction:column;
    margin:0 auto;
  }

  .work{
    margin:0 auto;
    width:100%;
  }

  .fadein p{
    font-size:26px;
  }

  .form-wrapper{
    margin-left:0;
    margin-right:0;
    padding-left:0;
    padding-right:0;
  }
  
  #sec5 h2{
    margin-left:0;
    margin-right:0;
  }


}

@media screen and (max-width:768px){
  .header-right{
    display:none;
  }

  .menu {
    display:block;
  }

  .menu a {
      display: block;
      padding: 15px;
      text-decoration: none;
      color: #000;
      line-height:1;
  }

  label {
      display: block;
      margin: 0 0 4px 0;
      padding : 15px;
      line-height: 1;
      color :black;
      cursor :pointer;
      font-size:22px;
  }

  .menu input {
      display: none;
  }

  .menu ul {
      margin: 0;
      padding: 0;
      background :#f4f4f4;
      list-style: none;
      transform: translateY(-11px);
  }

  .menu li {
      height: 0;
      overflow: hidden;
      -webkit-transition: all 0.5s;
      -moz-transition: all 0.5s;
      -ms-transition: all 0.5s;
      -o-transition: all 0.5s;
      transition: all 0.5s;
  }

  #menu_bar01:checked ~ #links01 li{
      height: 54px;
      opacity: 1;
  }

  .about-left{
    transform: translateX(-50px);
  }
  
  .service-contents{
      width:100%;
  }
  
  .form input,textarea{
    width:350px;
  }

  .service-contents{
    width:100%;
  }



  .form input,textarea{
    width:350px;
  }
}

@media screen and (max-width:570px){
  .service-heading{
    width:80%;
  }

  .service-list{
    width:80%;
  }
}


